body
{
	background-color: #17232e;
	color: #b8b7b7; 
	font-family: Arial, Helvetica, sans-serif;
}
h1
{
    background-color: #2259da;
    color: #FFFFFF;
	background-position: right;
	background-repeat: no-repeat;
	height: 100px;
    width: auto;
	text-align: center;
    padding-top: 50px;
    border: #0477fc;
    border-style: solid;
    border-radius: 25px;
}
h2
{
    color:#FFFFFF;
    text-align: center;
}
#container
{
    display: flex;
    justify-content: space-around;
}
#one
{
    background-color: #2259da;
	width: 40%;
    border-radius: 25px;
    padding:10px;
    text-align: center;
    color: #FFFFFF;
    position:relative;
}
#two
{
    background-color: #2259da;
	width: 40%;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    position:relative;
}
@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#one::after, #one::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 25px;
    animation: 3s spinOne linear infinite;
}
#one::before
{
    filter: blur(1.5rem);
    opacity: 0.5;
}
#two::after, #two::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #ff0095, #006aff, #00ff99, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 25px;
    animation: 3s spinTwo linear infinite;
}
#two::before
{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spinOne
{
    from
    {
        --angle: 0deg;
    }
    to
    {
        --angle: 360deg;
    }
}
@keyframes spinTwo
{
    from
    {
        --angle: 0deg;
    }
    to
    {
        --angle: -360deg;
    }
}
